.list {

    &--contact {
        margin: 0;
        padding: 0;
        text-align: center;
        
        .list-item {
            margin-bottom: .75rem;

            &:last-of-type {
                margin-bottom: initial;
            }
        }
    }
}