/* FOOTER */ 
.site-footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: $color-pink;
    background: $color-light;
    text-align: center;
    border-top: 1px solid $color-pink;
}