/* GLOBALS */ 
.container {
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    padding-top: .75rem;

    &+.row {
        margin-top: 5.25rem;
    }
}

.col {
    flex: 100%;
    
    &-half {
        flex: 1;
        margin-bottom: 2rem;
    }
}

.flex {
    @media screen and (min-width: breakpoint(md)) {
        display: flex;
        flex-wrap: wrap;
    }
}

.lead {
    font-size: 2rem;
    text-align: center;
}

ion-icon {
    margin-bottom: -.75rem;
    padding: .25rem;
    font-size: 1.5rem;
}