/* HEADER */ 
.site {
    &-header {
        margin: 0 auto;
        text-align: center;
        background: $color-canvas url('/assets/img/head.png');
    }

    &-branding {
        margin: 1rem auto;
    }
}