// html {
//     scroll-behavior: smooth;
// }

body {
    position: relative;
    font-family: $font-base;
    letter-spacing: .04em;
    color: $color-light;
    background: $color-canvas;
    word-wrap: break-word;
    hyphens: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h3 {
    text-shadow: $text-shadow;
}

p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

ol,
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 1.5em;
    line-height: 1.6;
}

address {
    font-style: normal;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: $color-canvas-alt;
    transition: $transition;
    transition-property: color;


}

img {
    height: auto;
}

blockquote {
    font-family: $font-quote;
    font-size: 3.5rem;
    font-weight: normal;
    text-align: center;
    
    p {
        position: relative;
        text-shadow: $text-shadow;
    }

    p::before,
    p::after {
        content: '\"';
        // font-size: 7rem;
    }

    p::before {
        padding-right: 1rem;
    }

    p::after {
        padding-left: 1rem;
    }
    
    span {
        font-size: 2rem;
    }
}