// Bootstrap breakpoints
// $breakpoints: (
//     xs: 575px,
//     sm: 576px,
//     md: 768px,
//     lg: 992px,
//     xl: 1200px,
//     xxl: 1400px,
// );

// Breakpoints
$breakpoints: (
    xxs: 400px,
    xs: 600px,
    sm: 800px,
    md: 1000px,
    lg: 1200px,
    xl: 1400px,
    xxl: 1600px
);